<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Mnemosyne.Desktop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
    <userSettings>
        <Mnemosyne.Desktop.Properties.Settings>
            <setting name="FontSize" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="UpdateCreationTime" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UpdateLastAccessTime" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UpdateLastWriteTime" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UpdateAttributes" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UpdateAccessControl" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BufferLength" serializeAs="String">
                <value>1024</value>
            </setting>
        </Mnemosyne.Desktop.Properties.Settings>
    </userSettings>
</configuration>